* {
    padding: 0;
    margin: 0;
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    font-style: normal;
}

header, nav {
    display: flex;
    background-color: #072331;
    color: #34d986;
}

header {
    justify-content: space-between;
    height: 93px;
    padding: 0 20px;
}

header > img {
    max-height: 60px;
}

header > section {
    margin-top: 25px;
    font-size: larger;
}

nav {
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: #34d986;
    text-decoration: none;
    padding: 10px;
    font-size: larger;
    display: flex;
    align-items: center;
}

nav a i {
    margin-right: 8px;
}

#inicio {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

#introducao {
    font-size: larger;
    padding: 20px;
}

#introducao > h1 {
    font-size: 36px;
}

#introducao > p {
    font-size: 18px;
}

#fotointroducao {
    margin-top: 20px;
    text-align: center;
}

#fotointroducao > img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1px solid black;
}

#exames {
    padding-top: 20px;
}

#exames > h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding-bottom: 20px;
}

#layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#layout > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #000;
}

#mt > h2 {
    margin-top: 15px;
}

footer {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: #072331;
    color: #faebd7;
    text-align: center;
}

#unidades {
    margin-top: 20px;
}

#unidades > h4 {
    margin-top: 10px;
}

.dropdown {
    position: relative;
}

.dropbtn {
    color: #34d986;
    text-decoration: none;
    padding-left: 0;
    font-size: larger;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 9px 18px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    border: 1px solid #000;
    border-radius: 20px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#fase > h1 {
    font-size: 36px;
    padding-top: 50px;
}

#fase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#layoutfase {
    width: 90%;
}

#layoutfase > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #000;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    header > img {
        max-height: 80px;
    }

    header > section {
        font-size: larger;
    }

    #inicio {
        grid-template-columns: 3fr 1fr;
    }

    #introducao > h1 {
        font-size: 50px;
    }

    #introducao > p {
        font-size: 25px;
    }

    #fotointroducao > img {
        width: 700px;
        height: 600px;
    }

    #layout {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        height: 170px;
        grid-template-columns: 1fr 3fr;
    }
}
